public/fileUpload/tabe baru1-1579255533.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:element name="TABEL ORANG">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KABUPATEN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_ID_DOKUMEN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KAWIN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="AGAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="IBU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="AYAH_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="55"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GELAR_DEPAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="25"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GELAR_BLK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_LHR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KELAMIN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_ID_DOCUMENT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="AKTA_MENINGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_MENINGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_HP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_TELPON" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="EMAIL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="AKTA_KELAHIRAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_SEHAT_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_SEHAT_DOKTER" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_BEBAS_NARKOBA_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_BEBAS_NARKOBA_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_KELAKUANBAIK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KET_KELAKUANBAIK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ALAMAT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="150"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NPWP_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NPWP_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BPJS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TASPEN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="3"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableOrang_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABLE PNS">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KPKN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_KERJA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_INDUK_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PEGAWAI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_HUKUM_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_UMUM_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GOLONGAN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LOKASI_KERJA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NIP_LAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="9"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NIP_BARU">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="18"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="STATUS_CPNS_PNS">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_STTPL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_STTPL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_TUGAS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KARTU_PEGAWAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ASKES_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_ESELON" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KREDIT_UTAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="9"/>
       <xs:fractionDigits value="4"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KREDIT_PENUMJANG" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="9"/>
       <xs:fractionDigits value="4"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_INDUK_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_KERJA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="UNOR_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GOLONGAN_AWAL_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_JABATAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_JABATAN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_DITETAPKAN_NIP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NP_CPNS_NOMOR">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_DOKTER_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_DOKTER_PNS">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NP_CPNS_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NP_PNS_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NP_PNS_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SPMT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_PENG" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_KP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_PENS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LATIHAN_STRUKTURAL_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_MELAKSANAKAN_TUGAS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_PENSIUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_PERE" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MK_TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MK_BULAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SUDAH_DPCP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PERTEK_CPNS_PNS_L2TH_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PERTEK_CPNS_PNS_L2TH_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TASPEN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="3"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_KONV_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_KONV_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_KONV_URUT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_PERBAIKAN_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_NIP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ESELON_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PENGADAAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SPESIMEN_PEJABAT_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="150"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KPE" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="3"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GAJI_POKOK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="38"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TablePns_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_JABATAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="UNOR_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ESELON_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_JABATAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_UMUM_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_JABATAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_SK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NO_SK_SERTIFIKASI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_SK_SERTIFIKASI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_BERLAKU" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_EXPIRED" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwJabatan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="RW_GOLONGAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KP_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="3"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GOLONGAN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_LETTER_BKN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_LETTER_BKN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JUMLAH_KREDIT_UTAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="8"/>
       <xs:fractionDigits value="3"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JUMLAH_KREDIT_TAMBAHAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="8"/>
       <xs:fractionDigits value="3"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ASAL_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ASAL_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="20"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="STATUS_SELESAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MK_GOLONGAN_TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MK_GOLONGAN_BULAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwGolongan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL TABEL ORANG_PENDIDIKAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENDIDIKAN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN_LULUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_IJAZAH" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="60"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_SEK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="150"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GLR_DEPAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="25"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GLR_BELAKANG" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="25"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEPALA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="IS_PENDIDIKAN_PERTAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_TAHUN_LULUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SEKOLAH_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="IS_PENDIDIKAN_TERAKHIR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableOrangPendidikan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PINDAH_INSTANSI">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_KERJA_LAMA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PEGAWAI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_BARU_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_JABATAN_LAMA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LOKASI_KERJA_BARU_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LOKASI_KERJA_LAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KPKN_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_JABATAN_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ESELON_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_LAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_KERJA_BARU_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="UNOR_LAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_INDUK_BARU_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="UNOR_BARU_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_INDUK_LAMA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JABATAN_FUNGSIONAL_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_USUL_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_USUL_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_BKN_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_BKN_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_PI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_ASAL_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_ASAL_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TUJUAN_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TUJUAN_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_LAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="15"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_INDUK_LAMA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_INDUK_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JFU_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ORANG_USUL_PEREMAJAAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_ASAL_PROV_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_ASAL_PROV_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwPindahInstansi_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PROFESI">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PROFESI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_INS_PENYELENGGARA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN_LULUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwProfesi_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_LATIHAN_STRUKTURAL">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LATIHAN_STRUKTURAL_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BOBOT_KOMPETENSI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="3"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KOMPETENSI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwLatihanStruktural_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_CLTN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="CLTN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_AWAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_AKHIR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_AKTIF" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_LETTER_BKN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_LETTER_BKN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwCltn_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_HUKUMAN_DISIPLIN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="GOLONGAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_HUKUMAN_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="HUKUMAN_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MASA_TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="MASA_BULAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="AKHIR_HUKUM_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_PP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwHukumanDisiplin_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_KURSUS">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KURSUS_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_KURSUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="60"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JUMLAH_JAM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_KURSUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTITUSI_PENYELENGGARA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KURSUS_SERTIPIKAT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SERTIPIKAT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_SELESAI_KURSUS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwKursus_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_SKP">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PEJABATPENILAI_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNSDINILAI_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NILAI_SKP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ORIENTASI_PELAYANAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INTEGRITAS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KOMITMEN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="DISIPLIN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KERJASAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEPEMIMPINAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NILAI_PERILAKU_KERJA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NILAI_PRESTASI_KERJA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="5"/>
       <xs:fractionDigits value="2"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_NON_PNS_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_JABATAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="250"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_JABATAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_TMT_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_TMT_GOLONGAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_UNOR_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_UNOR_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="250"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PENILAI_NIP_NRP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="ATASAN_PENILAI_NIP_NRP" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="STATUS_PENILAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="9"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="STATUS_ATASAN_PENILAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="9"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_JABATAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwSkp_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL PNS">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="STATUS_CPNS_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PEGAWAI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK_CPNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_PENGADAAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SPMT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PERTEK_CPNS_PNS_L2TH_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PERTEK_CPNS_PNS_L2TH_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KARTU_PEGAWAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_STTPL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_STTPL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_DOKTER_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_DOKTER_PNS" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TablePns_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_KEDUDUKAN_HUKUM">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_HUKUM_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_HUKUM_LAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_KEDUDUKAN_HUKUM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwKedudukanHukum_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_ORGANISASI">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_ORGANISASI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_ORGANISASI_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_ORGANISASI_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_KEDUDUKAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_MULAI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_AKHIR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSIS_TIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:base64Binary">
       <xs:maxLength value="65535"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwOrganisasi_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_RIWAYAT_KEPANITIAAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_ORGANISASI_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NO_SK_TIM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_TIM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KEPANITIAAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BOBOT_KOMPETENSI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="10"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSIS_TIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:base64Binary">
       <xs:maxLength value="65535"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwRiwayatKepanitiaan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PNS_UNOR">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="70"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="UNOR_ID_BARU" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA_UNOR_BARU">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="150"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwPnsUnor_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_ANGKA_KREDIT">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NOMOR_SK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="60"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TANGGAL_SK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BULAN_MULAI_PENAILAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN_MULAI_PENAILAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BULAN_SELESAI_PENAILAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN_SELESAI_PENAILAN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KREDIT_UTAMA_BARU" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="9"/>
       <xs:fractionDigits value="3"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KREDIT_PENUNJANG_BARU" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="9"/>
       <xs:fractionDigits value="3"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KREDIT_BARU_TOTAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:totalDigits value="9"/>
       <xs:fractionDigits value="3"/>
       <xs:minExclusive value="-1000"/>
       <xs:maxExclusive value="1000"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwAngkaKredit_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PENHARGAAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="HARGA_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="3"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="30"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_DATE" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwPenghargaan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PWK">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="INSTANSI_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KPKN_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SATUAN_KERJA_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="LOKASI_KERJA_BARU_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="40"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TMT_PWK" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:time">
       <xs:maxLength value="6"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwPwk_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="TABEL Orang Tua">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="IBU_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="AYAH_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:key name="TableOrangTua_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
   </xs:key>
 </xs:element>
 <xs:element name="TABEL Anak">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="IBU_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="AYAH_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:key name="TableAnak_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
   </xs:key>
 </xs:element>
 <xs:element name="Tabel PNS_ORANG_ISTRI">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="ORANG_ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="PNS_ORANG_ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="POSISI" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:decimal">
        <xs:maxLength value="2"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="STATUS" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="IS_PNS" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:key name="TablePnsOrangIstri_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
   </xs:key>
 </xs:element>
 <xs:element name="TABEL RW_PRESTASI">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="200"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TINGKAT" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:decimal">
       <xs:maxLength value="38"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwPrestasi_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>

</xs:schema>
